 .ixora-A { background:#0A0A0A; width:300px; height:auto; border-radius:2px }
  .ixora-B { width:300px; margin:30px 15px 10px; border-top:1px solid#FFF; font-family:'Playfair Display'; font-size:20px; font-style:oblique; color:white; text-align:CENTER; letter-spacing:3px; }
